<template>
  <div>
    <div>
      <header class="site-header jumbotron">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h1>请发表对Vue的评论</h1>
            </div>
          </div>
        </div>
      </header>
      <div class="container">
        <Add :addComment="addComment"/>
        <List :comments="comments" :deleteComment="deleteComment"/>
      </div>
    </div>
  </div>
</template>

<script>
  //1.引入主键
  import Add from "./components/Add"
  import List from "./components/List"

  export default {
    name: "",
    //2.映射标签
    components: {
      Add,
      List
    },
    data() {
      return {
        /*数据在哪个组件，操作数据的方法就应该定义在哪个组件*/
        comments: [{
          name: '张三',
          content: 'Vue还不错'
        },
          {
            name: '李四',
            content: '月饼很好吃'
          },
          {
            name: '王五',
            content: '粽子更好吃'
          },
          {
            name: '六六',
            content: '汤圆好吃'
          },
          {
            name: '小七',
            content: '肉肉香'
          }]
      }
    },
    methods: {
      //添加评论
      addComment(comment){
        /*添加数据到数组最前面*/
        this.comments.unshift(comment)
      },
      //删除评论
      deleteComment(index){
        this.comments.splice(index,1)
      }
    }
  }
</script>

<style scoped>

</style>
