<template>
  <div class="todo-footer">
    <label>
      <input type="checkbox" v-model="isAllCheck"/>
    </label>
    <span>
          <span>已完成{{completeSize}}</span> / 全部{{todos.length}}
        </span>
    <button class="btn btn-danger" v-show="completeSize>0" @click="deleteComplete">清除已完成任务</button>
  </div>
</template>

<script>
    export default {
        props:{
          todos:Array,
          deleteComplete:Function,
          selectAllTodos:Function
        },
      computed:{
          /*计算数组中complete属性为true的数量*/
        completeSize(){
          /*preTotal为统计的数量，初始值为0，preTotal=preTotal+todo.complete为1的数量*/
          return this.todos.reduce((preTotal,todo) => preTotal + (todo.complete?1:0),0)
        },
        isAllCheck:{
          /*isAllCheck值的显示依赖于get方法判断的返回值*/
          get(){
            return this.completeSize === this.todos.length && this.completeSize > 0
          },
          /*当isAllCheck值发生变化时调用selectAllTodos方法并传参变化后的值value*/
          set(value){
            this.selectAllTodos(value)
          }
        }
      }
    }
</script>

<style scoped>
  /*footer*/
  .todo-footer {
    height: 40px;
    line-height: 40px;
    padding-left: 6px;
    margin-top: 5px;
  }

  .todo-footer label {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
  }

  .todo-footer label input {
    position: relative;
    top: -1px;
    vertical-align: middle;
    margin-right: 5px;
  }

  .todo-footer button {
    float: right;
    margin-top: 5px;
  }

</style>
