<template>
  <div class="todo-container">
    <div class="todo-wrap">
      <TodoHeader :addTitle="addTitle"/>
      <TodoList :todos="todos" :deleteTitle="deleteTitle"/>
      <todo-footer :todos="todos" :deleteComplete="deleteComplete" :selectAllTodos="selectAllTodos"/>
    </div>
  </div>
</template>

<script>
  import TodoHeader from "./components/TodoHeader"
  import TodoList from "./components/TodoList"
  import TodoFooter from "./components/TodoFooter"

  export default {
    data(){
      return{
        todos:[
          {title:'看电视',complete:false},
          {title:'吃瓜子',complete:false},
          {title:'敲代码',complete:true},
          {title:'喝饮料',complete:false},
        ]
      }
    },
    methods:{
      addTitle(todo){
        this.todos.unshift(todo)
      },
      deleteTitle(index){
        this.todos.splice(index,1)
      },
      /*删除所有选中的*/
      deleteComplete(){
        this.todos = this.todos.filter(todo => !todo.complete)
      },
      /*全选或全不选*/
      selectAllTodos(isTrue){
        this.todos.forEach(todo => todo.complete = isTrue)
      }
    },
    components: {
      TodoHeader,
      TodoList,
      TodoFooter
    }
  }
</script>

<style scoped>
  /*app*/
  .todo-container {
    width: 600px;
    margin: 0 auto;
  }
  .todo-container .todo-wrap {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
</style>
